body {
    font-family: 'Inter', sans-serif;
    margin: auto;
}
.negro{
    background-color: black;
    padding: 60px 0;
    width: 100%;
}
/* Principal */
.imagenegro{
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}
.imagen-contenedor {
    width: 100%;
    margin-top: 50px;
}
.contentenedornegro{
    width: 100%;
    max-width: 700px; 
    margin:  auto;
    text-align: center;
}

.contentenedornegro h1{
    font-size: 58px;
    color: white;
    margin: 0 0 15px 0;
    line-height: 1.1;
}
.contentenedornegro p{
    font-size: 20px;
    color: rgb(166, 166, 166);
    margin: 0;
}
/* 3 cArtas */
.contenedor3cartas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
.cartasnegras {
    display: flex;
    gap: 20px;
    width: 100%;
}

.cartasnegras:last-child .card .card-description {
    text-align: left;
    margin-right: 600px; 
}

.card {
    background-color: #1A1A1A;
    border-radius: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    position: relative;
}
.card-title {
    font-size: 20px;
    padding-top: 30px;
    padding-left: 60px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
}
.espacio {    margin-bottom: 300px;
}
.card-description {
    font-size: 18px;
    line-height: 1.5;
    color:  #E3E3E3; 
    text-align: left;
    margin-left: 60px;
    margin-right: 70px;
    padding-bottom: 30px;
}
.card-description2{
    font-size: 18px;
    line-height: 1.5;
    color:  #E3E3E3; 
    text-align: left;
    margin-left: 60px;
    margin-right: 600px;
    padding-bottom: 30px;   
}
.contenedorvideo{
    position: absolute;
    width: 350px; 
    height: 200px; 
    bottom: 20px; 
    right: 20px; 
}

.contenedorvideo video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cilindromitad{
    width: 350px;
    margin: auto;

}

.docamarillo{
    width: 100px;
    margin-left:30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.contenedorcartas {
    display: flex;
    flex-wrap: wrap;     
    gap: 20px; 
    justify-content: left; 
    padding: 20px; 
}

.textitodeabajocard{
    max-width: calc(50% - 20px); 
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    text-align: left; 
    margin-bottom: 40px; 
    box-sizing: border-box; 
    flex-grow: 1;
}
.textitodeabajocard h3{
    font-size: 18px;
    color: white; 
    text-align: left;
}
.textitodeabajocard p{
    font-size: 18px;
    line-height: 1.5;
    color: grey; 
    text-align: left;
}
.enlace{
    color: blue;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.barranegro {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin: 40px 0; 
}

.barranegrodentro {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 50px; 
    overflow: hidden; 
}

.barranegrodentro a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.1); 
}

.contenedorcartasmas {
    display: flex;
    flex-wrap: wrap;     
    gap: 20px; 
    justify-content: center; 
    padding: 20px; 
}
.textitodeabajomascard{
    padding-top: 5%;
    max-width: calc(30% - 10px); 
    background-color: black;
    border-radius: 5px;
    text-align: left; 
    margin-bottom: 40px; 
    box-sizing: border-box; 
    flex-grow: 1;
}
.textitodeabajomascard h3{
    font-size: 18px;
    color: white; 
}
.textitodeabajomascard p{
    font-size: 18px;
    line-height: 1.5;
    color: grey; 
}
.ultimo{
    text-align: center;
    padding: 80px 20px;
}
.ultimo h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}
.ultimo h3 {
    font-size: 20px;
    color: #333; 
    margin-bottom: 30px;
    font-weight: normal; 
}
.ultimo a {
    text-decoration: none;
    background: linear-gradient(180deg, #ff4c8a, #f72c68); 
    color: white;
    padding: 12px 40px;
    box-shadow: 0 4px 10px rgba(247, 44, 104, 0.4); 
    border-radius: 999px; 
}


.contenderfoot {
    color: #333;
    padding-top: 40px;
    border-top: 1px solid #ddd; 
}

.espaciosfoot {
    display: flex;
    justify-content: space-between; 
    max-width: 1200px; 
    margin: 0 auto 50px auto; 
}

.columnas {
    display: flex;
    flex-direction: column; 
}

.columnas h3 {
    font-size: 16px;
    color: black;
    margin-top: 0;
}

.columnas a {
    color: #666;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px; 
}

.columnas a:hover{
    color:darkgray
}

.copyrigth {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #ddd; 
}

.copyrigth p {
    font-size: 12px;
    color: #999;
}
.contentenedornegro2{
    width: 100%;
    max-width: 700px; 
    margin:  auto;
    text-align: center;
}
.contentenedornegro2 h1{
    font-size: 58px;
    margin: 0 0 15px 0;
    line-height: 1.1;
}
.contentenedornegro2 p{
    font-size: 22px;
    margin: 0;
}


